
{{!-- {{arrayify data-code-lbl}} --}}
<div class="base_circle" data-code-obj="{{data-codes}}" tabindex="1">
	<p class="code_text u-mb-base">{{data-code-lbl}} </p>
	{{~#if @partial-block~}}
      {{> @partial-block}}
    {{/if}}
</div>