<div data-code-descr="01">
    {{!-- {{#> icd-subcode data-subcode="Codes"}} --}}
    <div data-sub-code="01">
        <ul>
            <li>DOD0121 = Screen, TBI, Negative</li>
            <li>DOD0122 = Screen, TBI, Positive</li>
            <li>DOD0123 = Screen, TBI, Declined by patient</li>
            <li>DOD0124 = Screen, TBI, Not performed due to current TBI diagnosis</li>
            <li>DOD0125 = Screen, TBI, Not performed due to reason other than existing TBI diagnosis</li>
        </ul>
    </div>
    {{/icd-subcode}}
    {{!-- {{#> icd-subusage data-subusage="Usage"}} --}}
    <div data-sub-usage="01">
        <ul>
            <li>Use only with asymptomatic patients</li>
            <li>Use as the primary, or first listed code, if the reason for the visit is concussion screening.</li>
            <li>Use one per injury event</li>
        </ul>
    </div>
    {{/icd-subusage}}
    {{!-- {{#> icd-subimpact data-subimpact="Survelliance Impact"}} --}}
    <div data-sub-impact="01">
            <ul>
                <li>Indentifies the number of Service members screened negative for concussion and the number who screened positive and are asymptomatic.</li>
                <li>Comparison of the negative screening code with the diagnosis code provides a ratio of exposed to concussed Service members.</li>
            </ul>
    </div>
    {{/icd-subimpact}}
</div>

<div data-code-descr="02">
    {{!-- {{#> icd-subcode data-subcode="Codes"}} --}}
    <div data-sub-code="02">
        <ul>
            <li>506.0X0A/D/S Concussion, no LOC</li>
            <li>506.0X0A/D/S Concussion, LOC &gte; 30 minutes</li>
            <li>506.0X0A/D/S Concussion, LOC, unspecified duration.</li>
        </ul>
    </div>
        {{/icd-subcode}}

    {{!-- {{#> icd-subusage data-subusage="Usage"}} --}}
    <div data-sub-usage="02">
            <p>Used throughout the episode of care with the 7" character of A, D or S.</p>
            <p>A = Initial visit</p>
            <p>D = Subsequent visit</p>
            <p>A = Sequela visit</p>
    </div>
    {{/icd-subusage}}
    {{!-- {{#> icd-subimpact data-subimpact="Survelliance Impact"}} --}}
    <div data-sub-impact="02">
            <ul>
                <li>Determines the number of concussions that occur across the Military Health System.</li>
                <li>Correct use of the 7" character provides information on where a Service member is within an episode of care.</li>
            </ul>
    </div>
    {{/icd-subimpact}}
</div>

<div data-code-descr="03">
    {{!-- {{#> icd-subcode data-subcode="Codes"}} --}}
    <div data-sub-code="03">
            <ul>
                <li>No universal symptoms are associated with concussion.</li>
                <li>Symptoms commonly associated with concussion include headache R51 and dizziness R42.</li>
            </ul>
    </div>
    {{/icd-subcode }}
    {{!-- {{#> icd-subusage data-subusage="Usage"}} --}}
    <div data-sub-usage="03">
            <ul>
                <li>The use of symptom codes provides information about the number and duration of symptoms related to concussion.</li>
                <li>All symptoms must be coded.</li>
            </ul>
    </div>
    {{/icd-subusage}}
    {{!-- {{#> icd-subimpact data-subimpact="Survelliance Impact"}} --}}
    <div data-sub-impact="03">
            <p>Provide information on the number and duration of symptoms related to concussion.</p>
    </div>
    {{/icd-subimpact}}
</div>

<div data-code-descr="04">
    {{!-- {{#> icd-subcode data-subcode="Codes"}} --}}
    <div data-sub-code="04">
            <ul>
                <li>Z56.82 Currently deployed</li>
                <li>Z91.82 History of deployment</li>
            </ul>
    </div>
     {{/icd-subcode }}
   {{!-- {{#> icd-subusage data-subusage="Usage"}} --}}
    <div data-sub-usage="04">
            <p>Used for all concussion-related encounters when the Service member is deployed or when the concussion was sustained while deployed but the Service member is not currently deployed.</p>
    </div>
    {{/icd-subusage}}
    {{!-- {{#> icd-subimpact data-subimpact="Survelliance Impact"}} --}}
    <div data-sub-impact="04">
            <p>Ability to know whether a concussion occured in theater is crucial to understanding the scope of TBIin different military settings.</p>
    </div>
    {{/icd-subimpact}}
</div>

<div data-code-descr="05">
    {{!-- {{#> icd-subcode data-subcode="Codes"}} --}}
    <div data-sub-code="05">
            <p>Codes are very specific for example:</p>
            <ul>
                <li>V31.51XA/D/S: Car driver injured in collision with sport utility vehicle in traffic accident (initial/subsequent/sequela)</li>
                <li>Y37.230A/D/S: Military operations involving explosion of improvised explosive device (IED), military personnel (initial/subsequent/sequela)</li>
            </ul>
    </div>
    {{/icd-subcode }}
    {{!-- {{#> icd-subusage data-subusage="Usage"}} --}}
    <div data-sub-usage="05">
            <ul>
                <li>How the injury happened</li>
                <li>The intent</li>
                <li>The place</li>
                <li>Activity</li>
                <li>Service member's status</li>
            </ul>
    </div>
    {{/icd-subusage}}
    {{!-- {{#> icd-subimpact data-subimpact="Survelliance Impact"}} --}}
    <div data-sub-impact="05">
            <p>Helps identify the cause of injury in the coded data. Used to evaluate injury prevention strategies.</p>
    </div>
    {{/icd-subimpact}}
</div>

<div data-code-descr="06">
    {{!-- {{#> icd-subcode data-subcode="Codes"}} --}}
    <div data-sub-code="06">
            <ul>
                <li>Place of occurence Y92</li>
                <li>Activity Y93</li>
            </ul>
    </div>
    {{/icd-subcode}}
    {{!-- {{#> icd-subusage data-subusage="Usage"}} --}}
    <div data-sub-usage="06">
            <ul>
                <li>Once per injury event at the initial visit</li>
                <li>No more than one Y92 code per record</li>
                <li>No more than one Y93 code per record</li>
            </ul>
    </div>
    {{/icd-subusage}}
    {{!-- {{#> icd-subimpact data-subimpact="Survelliance Impact"}} --}}
    <div data-sub-impact="06">
            <ul>
                <li>Helps identify the place of injury and activity.</li>
                <li>Used to evaluate injury prevention strategies.</li>
            </ul>
    </div>
    {{/icd-subimpact}}
</div>

<div data-code-descr="07">
    {{!-- {{#> icd-subcode data-subcode="Codes"}} --}}
    <div data-sub-code="07">
        <p>The DoD unique personal history code for concussion is DOD0102</p>
    </div>
    {{/icd-subcode}}
    {{!-- {{#> icd-subusage data-subusage="Usage"}} --}}
    <div data-sub-usage="07">
        <p>Document at initial and all subsequent visits.</p>
    </div>
    {{/icd-subusage}}
</div>
