<div sub-code="{{data-sub-code}}" sub-code-hdr="{{data-subcode}}" class="sub_code_reveal">
	<div> 
		<h4 class="sub-hdr">{{data-subcode}}</h4>
	  		{{~#if @partial-block~}}
      			{{> @partial-block}}
      		{{/if}}
	</div>
</div>


