<div sub-usage="{{data-sub-usage}}" sub-usage-hdr="{{data-subusage}}" class="sub_code_reveal">
	<div> 
		<h4 class="sub-hdr">{{data-subusage}}</h4>
		{{~#if @partial-block~}}
				{{> @partial-block}}
		{{/if}}
	</div>
</div>