<div sub-impact="{{data-sub-impact}}" sub-impact-hdr="{{data-subimpact}}" class="sub_code_reveal">
	<div> 
		<h4 class="sub-hdr">{{data-subimpact}}</h4>
	  	{{~#if @partial-block~}}
      		{{> @partial-block}}
      	{{/if}}
	</div>
</div>