<div class="o-pad">
    <ul class="c-list sub_circle code-list code-list-hide">
        <li class="base_circle code_text sub_circle sub_circle_01" title="Codes" tabindex="1"></li>
        <li class="base_circle code_text sub_circle sub_circle_02" title="Usage" tabindex="1"></li>
        <li class="base_circle code_text sub_circle sub_circle_03" title="Survelliance Impact" tabindex="1"></li>
    </ul>
</div>