///////////////////////////////////////////////////////////////////////
//
// SVG ICONS
//
// ///////////////////////////////////////////////////////////////////

// sprite variables
// ----------------------
$sprite-source:  '../img/sprite.svg';
$sprite-replace: str-replace($sprite-source, 'svg', 'png');
$sprite-width:   300px;
$sprite-height:  300px;

// sprite map
// ----------------------
$sprite-map: (
  'arrow-back': (
    offset-x: -192px,
    offset-y: -156px,
    width:   24px,
    height:  24px,
  ),
  'arrow-back-hov': (
    offset-x: 0px,
    offset-y: -228px,
    width:   24px,
    height:  24px,
  ),
  'arrow-dd-dn': (
    offset-x: -252px,
    offset-y: -72px,
    width:   24px,
    height:  24px,
  ),
  'arrow-dd-dn-alt': (
    offset-x: -252px,
    offset-y: -96px,
    width:   24px,
    height:  24px,
  ),
  'arrow-dd-up': (
    offset-x: -96px,
    offset-y: -252px,
    width:   24px,
    height:  24px,
  ),
  'arrow-dd-up-alt': (
    offset-x: -120px,
    offset-y: -252px,
    width:   24px,
    height:  24px,
  ),
  'arrow-fwd': (
    offset-x: -180px,
    offset-y: -72px,
    width:   24px,
    height:  24px,
  ),
  'arrow-fwd-hov': (
    offset-x: -204px,
    offset-y: -72px,
    width:   24px,
    height:  24px,
  ),
  'arrow-kb-fwd': (
    offset-x: -156px,
    offset-y: -96px,
    width:   24px,
    height:  24px,
  ),
  'arrow-kb-fwd-alt': (
    offset-x: -180px,
    offset-y: -96px,
    width:   24px,
    height:  24px,
  ),
  'bulb': (
    offset-x: -204px,
    offset-y: -96px,
    width:   24px,
    height:  24px,
  ),
  'bulb-light': (
    offset-x: -156px,
    offset-y: -120px,
    width:   24px,
    height:  24px,
  ),
  'cancel': (
    offset-x: -180px,
    offset-y: -120px,
    width:   24px,
    height:  24px,
  ),
  'cancel-alt': (
    offset-x: -204px,
    offset-y: -120px,
    width:   24px,
    height:  24px,
  ),
  'cancel-dark': (
    offset-x: 0px,
    offset-y: -156px,
    width:   24px,
    height:  24px,
  ),
  'cancel-light': (
    offset-x: -24px,
    offset-y: -156px,
    width:   24px,
    height:  24px,
  ),
  'cc': (
    offset-x: -48px,
    offset-y: -156px,
    width:   24px,
    height:  24px,
  ),
  'cc-alt': (
    offset-x: -72px,
    offset-y: -156px,
    width:   24px,
    height:  24px,
  ),
  'check': (
    offset-x: -96px,
    offset-y: -156px,
    width:   24px,
    height:  24px,
  ),
  'check-correct': (
    offset-x: -120px,
    offset-y: -156px,
    width:   24px,
    height:  24px,
  ),
  'check-dark': (
    offset-x: -144px,
    offset-y: -156px,
    width:   24px,
    height:  24px,
  ),
  'check-dis': (
    offset-x: -168px,
    offset-y: -156px,
    width:   24px,
    height:  24px,
  ),
  'check-lg': (
    offset-x: 0px,
    offset-y: 0px,
    width:   84px,
    height:  84px,
  ),
  'check-light': (
    offset-x: 0px,
    offset-y: -180px,
    width:   24px,
    height:  24px,
  ),
  'check-ol': (
    offset-x: -24px,
    offset-y: -180px,
    width:   24px,
    height:  24px,
  ),
  'check-ol-dark': (
    offset-x: -48px,
    offset-y: -180px,
    width:   24px,
    height:  24px,
  ),
  'check-ol-dis': (
    offset-x: -72px,
    offset-y: -180px,
    width:   24px,
    height:  24px,
  ),
  'check-ol-empty': (
    offset-x: -96px,
    offset-y: -180px,
    width:   24px,
    height:  24px,
  ),
  'check-ol-light': (
    offset-x: -120px,
    offset-y: -180px,
    width:   24px,
    height:  24px,
  ),
  'check-small': (
    offset-x: -150px,
    offset-y: -276px,
    width:   18px,
    height:  18px,
  ),
  'check-small-dark': (
    offset-x: -132px,
    offset-y: -276px,
    width:   18px,
    height:  18px,
  ),
  'check-small-light': (
    offset-x: -114px,
    offset-y: -276px,
    width:   18px,
    height:  18px,
  ),
  'checkbox': (
    offset-x: 0px,
    offset-y: -204px,
    width:   24px,
    height:  24px,
  ),
  'checkbox-alt': (
    offset-x: -24px,
    offset-y: -204px,
    width:   24px,
    height:  24px,
  ),
  'checkbox-chk': (
    offset-x: -48px,
    offset-y: -204px,
    width:   24px,
    height:  24px,
  ),
  'checkbox-chk-alt': (
    offset-x: -72px,
    offset-y: -204px,
    width:   24px,
    height:  24px,
  ),
  'checkbox-chk-dis': (
    offset-x: -96px,
    offset-y: -204px,
    width:   24px,
    height:  24px,
  ),
  'checkbox-dis': (
    offset-x: -120px,
    offset-y: -204px,
    width:   24px,
    height:  24px,
  ),
  'close': (
    offset-x: -144px,
    offset-y: -204px,
    width:   24px,
    height:  24px,
  ),
  'close-alt': (
    offset-x: -168px,
    offset-y: -204px,
    width:   24px,
    height:  24px,
  ),
  'correct': (
    offset-x: -192px,
    offset-y: -204px,
    width:   24px,
    height:  24px,
  ),
  'error': (
    offset-x: -228px,
    offset-y: 0px,
    width:   24px,
    height:  24px,
  ),
  'error-alt': (
    offset-x: -228px,
    offset-y: -24px,
    width:   24px,
    height:  24px,
  ),
  'error-light': (
    offset-x: -228px,
    offset-y: -48px,
    width:   24px,
    height:  24px,
  ),
  'fullscreen': (
    offset-x: -228px,
    offset-y: -72px,
    width:   24px,
    height:  24px,
  ),
  'fullscreen-alt': (
    offset-x: -228px,
    offset-y: -96px,
    width:   24px,
    height:  24px,
  ),
  'fullscreen-exit': (
    offset-x: -228px,
    offset-y: -120px,
    width:   24px,
    height:  24px,
  ),
  'fullscreen-exit-alt': (
    offset-x: -228px,
    offset-y: -144px,
    width:   24px,
    height:  24px,
  ),
  'help': (
    offset-x: -228px,
    offset-y: -168px,
    width:   24px,
    height:  24px,
  ),
  'help-hov': (
    offset-x: -228px,
    offset-y: -192px,
    width:   24px,
    height:  24px,
  ),
  'info': (
    offset-x: -156px,
    offset-y: -72px,
    width:   24px,
    height:  24px,
  ),
  'info-alt': (
    offset-x: -24px,
    offset-y: -228px,
    width:   24px,
    height:  24px,
  ),
  'info-dark': (
    offset-x: -48px,
    offset-y: -228px,
    width:   24px,
    height:  24px,
  ),
  'info-ol': (
    offset-x: -72px,
    offset-y: -228px,
    width:   24px,
    height:  24px,
  ),
  'info-ol-light': (
    offset-x: -96px,
    offset-y: -228px,
    width:   24px,
    height:  24px,
  ),
  'key-alt': (
    offset-x: -120px,
    offset-y: -228px,
    width:   24px,
    height:  24px,
  ),
  'label': (
    offset-x: -144px,
    offset-y: -228px,
    width:   24px,
    height:  24px,
  ),
  'launch': (
    offset-x: -168px,
    offset-y: -228px,
    width:   24px,
    height:  24px,
  ),
  'launch-alt': (
    offset-x: -192px,
    offset-y: -228px,
    width:   24px,
    height:  24px,
  ),
  'launch-dark': (
    offset-x: -216px,
    offset-y: -228px,
    width:   24px,
    height:  24px,
  ),
  'launch-small': (
    offset-x: -96px,
    offset-y: -276px,
    width:   18px,
    height:  18px,
  ),
  'link': (
    offset-x: -252px,
    offset-y: -24px,
    width:   24px,
    height:  24px,
  ),
  'link-alt': (
    offset-x: -252px,
    offset-y: -48px,
    width:   24px,
    height:  24px,
  ),
  'loading': (
    offset-x: -84px,
    offset-y: 0px,
    width:   72px,
    height:  72px,
  ),
  'loading-alt': (
    offset-x: 0px,
    offset-y: -84px,
    width:   72px,
    height:  72px,
  ),
  'loop': (
    offset-x: -252px,
    offset-y: -120px,
    width:   24px,
    height:  24px,
  ),
  'loop-alt': (
    offset-x: -252px,
    offset-y: -144px,
    width:   24px,
    height:  24px,
  ),
  'menu': (
    offset-x: -252px,
    offset-y: -168px,
    width:   24px,
    height:  24px,
  ),
  'menu-hov': (
    offset-x: -252px,
    offset-y: -192px,
    width:   24px,
    height:  24px,
  ),
  'note-alt': (
    offset-x: -252px,
    offset-y: -216px,
    width:   24px,
    height:  24px,
  ),
  'pause': (
    offset-x: 0px,
    offset-y: -252px,
    width:   24px,
    height:  24px,
  ),
  'pause-alt': (
    offset-x: -24px,
    offset-y: -252px,
    width:   24px,
    height:  24px,
  ),
  'play': (
    offset-x: -48px,
    offset-y: -252px,
    width:   24px,
    height:  24px,
  ),
  'play-alt': (
    offset-x: -72px,
    offset-y: -252px,
    width:   24px,
    height:  24px,
  ),
  'play-lg': (
    offset-x: -72px,
    offset-y: -84px,
    width:   72px,
    height:  72px,
  ),
  'play-lg-alt': (
    offset-x: -156px,
    offset-y: 0px,
    width:   72px,
    height:  72px,
  ),
  'radio': (
    offset-x: -144px,
    offset-y: -252px,
    width:   24px,
    height:  24px,
  ),
  'radio-chk': (
    offset-x: -168px,
    offset-y: -252px,
    width:   24px,
    height:  24px,
  ),
  'reference': (
    offset-x: -192px,
    offset-y: -252px,
    width:   24px,
    height:  24px,
  ),
  'reference-hov': (
    offset-x: -216px,
    offset-y: -252px,
    width:   24px,
    height:  24px,
  ),
  'refresh': (
    offset-x: -240px,
    offset-y: -252px,
    width:   24px,
    height:  24px,
  ),
  'refresh-alt': (
    offset-x: -276px,
    offset-y: 0px,
    width:   24px,
    height:  24px,
  ),
  'replay': (
    offset-x: -276px,
    offset-y: -24px,
    width:   24px,
    height:  24px,
  ),
  'replay-alt': (
    offset-x: -276px,
    offset-y: -48px,
    width:   24px,
    height:  24px,
  ),
  'settings': (
    offset-x: -276px,
    offset-y: -72px,
    width:   24px,
    height:  24px,
  ),
  'settings-alt': (
    offset-x: -276px,
    offset-y: -96px,
    width:   24px,
    height:  24px,
  ),
  'skip-back-alt': (
    offset-x: -276px,
    offset-y: -120px,
    width:   24px,
    height:  24px,
  ),
  'skip-fwd': (
    offset-x: -276px,
    offset-y: -144px,
    width:   24px,
    height:  24px,
  ),
  'skip-fwd-alt': (
    offset-x: -276px,
    offset-y: -168px,
    width:   24px,
    height:  24px,
  ),
  'skip_back': (
    offset-x: -276px,
    offset-y: -192px,
    width:   24px,
    height:  24px,
  ),
  'star': (
    offset-x: -276px,
    offset-y: -216px,
    width:   24px,
    height:  24px,
  ),
  'star-alt': (
    offset-x: -276px,
    offset-y: -240px,
    width:   24px,
    height:  24px,
  ),
  'stop': (
    offset-x: 0px,
    offset-y: -276px,
    width:   24px,
    height:  24px,
  ),
  'stop-alt': (
    offset-x: -24px,
    offset-y: -276px,
    width:   24px,
    height:  24px,
  ),
  'vol-off': (
    offset-x: -48px,
    offset-y: -276px,
    width:   24px,
    height:  24px,
  ),
  'vol-off-alt': (
    offset-x: -252px,
    offset-y: 0px,
    width:   24px,
    height:  24px,
  ),
  'vol-on': (
    offset-x: -192px,
    offset-y: -180px,
    width:   24px,
    height:  24px,
  ),
  'vol-on-alt': (
    offset-x: -168px,
    offset-y: -180px,
    width:   24px,
    height:  24px,
  ),
  'warning': (
    offset-x: -144px,
    offset-y: -180px,
    width:   24px,
    height:  24px,
  ),
  'warning-alt': (
    offset-x: -72px,
    offset-y: -276px,
    width:   24px,
    height:  24px,
  ),
);

// mixins
// ----------------------
@mixin sprite-common {
  display: inline-block;
  @include sprite-image;
  background-repeat: no-repeat;
  vertical-align: middle;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

@mixin sprite-width($sprite) {
  width: map-deep-get($sprite-map, $sprite, width);
}

@mixin sprite-height($sprite) {
  height: map-deep-get($sprite-map, $sprite, height);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: map-deep-get($sprite-map, $sprite, offset-x);
  $sprite-offset-y: map-deep-get($sprite-map, $sprite, offset-y);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image {
  background-image: url($sprite-replace);
  background-image: url($sprite-source);
}

@mixin sprite($sprite) {
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

@mixin sprite-center($sprite) {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: (map-deep-get($sprite-map, $sprite, width) / 2) * -1;
  margin-top:  (map-deep-get($sprite-map, $sprite, height) / 2) * -1;
}

// Classes
// ----------------------
.icon-set {
  @include clearfix;
  > .icon {
    float: left;
  }
}

.icon-set__text {
  float: left;
  padding-left: spacing(0.5);
}


.icon { @include sprite-common; }

.icon--arrow-back {
  @include sprite(arrow-back);
}

.icon--arrow-back-hov {
  @include sprite(arrow-back-hov);
}

.icon--arrow-dd-dn {
  @include sprite(arrow-dd-dn);
}

.icon--arrow-dd-dn-alt {
  @include sprite(arrow-dd-dn-alt);
}

.icon--arrow-dd-up {
  @include sprite(arrow-dd-up);
}

.icon--arrow-dd-up-alt {
  @include sprite(arrow-dd-up-alt);
}

.icon--arrow-fwd {
  @include sprite(arrow-fwd);
}

.icon--arrow-fwd-hov {
  @include sprite(arrow-fwd-hov);
}

.icon--arrow-kb-fwd {
  @include sprite(arrow-kb-fwd);
}

.icon--arrow-kb-fwd-alt {
  @include sprite(arrow-kb-fwd-alt);
}

.icon--bulb {
  @include sprite(bulb);
}

.icon--bulb-light {
  @include sprite(bulb-light);
}

.icon--cancel {
  @include sprite(cancel);
}

.icon--cancel-alt {
  @include sprite(cancel-alt);
}

.icon--cancel-dark {
  @include sprite(cancel-dark);
}

.icon--cancel-light {
  @include sprite(cancel-light);
}

.icon--cc {
  @include sprite(cc);
}

.icon--cc-alt {
  @include sprite(cc-alt);
}

.icon--check {
  @include sprite(check);
}

.icon--check-correct {
  @include sprite(check-correct);
}

.icon--check-dark {
  @include sprite(check-dark);
}

.icon--check-dis {
  @include sprite(check-dis);
}

.icon--check-lg {
  @include sprite(check-lg);
}

.icon--check-light {
  @include sprite(check-light);
}

.icon--check-ol {
  @include sprite(check-ol);
}

.icon--check-ol-dark {
  @include sprite(check-ol-dark);
}

.icon--check-ol-dis {
  @include sprite(check-ol-dis);
}

.icon--check-ol-empty {
  @include sprite(check-ol-empty);
}

.icon--check-ol-light {
  @include sprite(check-ol-light);
}

.icon--check-small {
  @include sprite(check-small);
}

.icon--check-small-dark {
  @include sprite(check-small-dark);
}

.icon--check-small-light {
  @include sprite(check-small-light);
}

.icon--checkbox {
  @include sprite(checkbox);
}

.icon--checkbox-alt {
  @include sprite(checkbox-alt);
}

.icon--checkbox-chk {
  @include sprite(checkbox-chk);
}

.icon--checkbox-chk-alt {
  @include sprite(checkbox-chk-alt);
}

.icon--checkbox-chk-dis {
  @include sprite(checkbox-chk-dis);
}

.icon--checkbox-dis {
  @include sprite(checkbox-dis);
}

.icon--close {
  @include sprite(close);
}

.icon--close-alt {
  @include sprite(close-alt);
}

.icon--correct {
  @include sprite(correct);
}

.icon--error {
  @include sprite(error);
}

.icon--error-alt {
  @include sprite(error-alt);
}

.icon--error-light {
  @include sprite(error-light);
}

.icon--fullscreen {
  @include sprite(fullscreen);
}

.icon--fullscreen-alt {
  @include sprite(fullscreen-alt);
}

.icon--fullscreen-exit {
  @include sprite(fullscreen-exit);
}

.icon--fullscreen-exit-alt {
  @include sprite(fullscreen-exit-alt);
}

.icon--help {
  @include sprite(help);
}

.icon--help-hov {
  @include sprite(help-hov);
}

.icon--info {
  @include sprite(info);
}

.icon--info-alt {
  @include sprite(info-alt);
}

.icon--info-dark {
  @include sprite(info-dark);
}

.icon--info-ol {
  @include sprite(info-ol);
}

.icon--info-ol-light {
  @include sprite(info-ol-light);
}

.icon--key-alt {
  @include sprite(key-alt);
}

.icon--label {
  @include sprite(label);
}

.icon--launch {
  @include sprite(launch);
}

.icon--launch-alt {
  @include sprite(launch-alt);
}

.icon--launch-dark {
  @include sprite(launch-dark);
}

.icon--launch-small {
  @include sprite(launch-small);
}

.icon--link {
  @include sprite(link);
}

.icon--link-alt {
  @include sprite(link-alt);
}

.icon--loading {
  @include sprite(loading);
}

.icon--loading-alt {
  @include sprite(loading-alt);
}

.icon--loop {
  @include sprite(loop);
}

.icon--loop-alt {
  @include sprite(loop-alt);
}

.icon--menu {
  @include sprite(menu);
}

.icon--menu-hov {
  @include sprite(menu-hov);
}

.icon--note-alt {
  @include sprite(note-alt);
}

.icon--pause {
  @include sprite(pause);
}

.icon--pause-alt {
  @include sprite(pause-alt);
}

.icon--play {
  @include sprite(play);
}

.icon--play-alt {
  @include sprite(play-alt);
}

.icon--play-lg {
  @include sprite(play-lg);
}

.icon--play-lg-alt {
  @include sprite(play-lg-alt);
}

.icon--radio {
  @include sprite(radio);
}

.icon--radio-chk {
  @include sprite(radio-chk);
}

.icon--reference {
  @include sprite(reference);
}

.icon--reference-hov {
  @include sprite(reference-hov);
}

.icon--refresh {
  @include sprite(refresh);
}

.icon--refresh-alt {
  @include sprite(refresh-alt);
}

.icon--replay {
  @include sprite(replay);
}

.icon--replay-alt {
  @include sprite(replay-alt);
}

.icon--settings {
  @include sprite(settings);
}

.icon--settings-alt {
  @include sprite(settings-alt);
}

.icon--skip-back-alt {
  @include sprite(skip-back-alt);
}

.icon--skip-fwd {
  @include sprite(skip-fwd);
}

.icon--skip-fwd-alt {
  @include sprite(skip-fwd-alt);
}

.icon--skip_back {
  @include sprite(skip_back);
}

.icon--star {
  @include sprite(star);
}

.icon--star-alt {
  @include sprite(star-alt);
}

.icon--stop {
  @include sprite(stop);
}

.icon--stop-alt {
  @include sprite(stop-alt);
}

.icon--vol-off {
  @include sprite(vol-off);
}

.icon--vol-off-alt {
  @include sprite(vol-off-alt);
}

.icon--vol-on {
  @include sprite(vol-on);
}

.icon--vol-on-alt {
  @include sprite(vol-on-alt);
}

.icon--warning {
  @include sprite(warning);
}

.icon--warning-alt {
  @include sprite(warning-alt);
}



// ------------------------------------------------------------------
// Icon wraps
// wraps the icon
// ------------------------------------------------------------------

@mixin icon-circle (
  $mh: 36px,
  $is: 24px,
  $bg: find-color(secondary),
  $br: 50%,
  $ib: inline-block
) {
  display: $ib;
  padding: rem(($mh - $is) / 2);
  background-color: $bg;
  border-radius: $br;
}

.o-icon-circle {
  @include icon-circle;

  &--lg {
    @include icon-circle(48px,24px,null,null,null);
  }

  &--xl {
    @include icon-circle(60px,24px,null,null,null);
  }

  // generate colors
  @each $name, $color in $button-palette {
    &--#{$name} {
      background-color: $color;
    }
  }

}
