{{> course-html-head main="u-bg-truck-1" lesson="" }}

<article class="o-box o-mh-pad l-lesson-intro u-bs-common v-hidex">

  <aside class="o-box__cell l-lesson-intro__media medium-12 v-hidex">

    <div class="l-lesson-intro__sub v-hidex" data-lsn="{{> course-titles type='lesson-number'}}">
      Lesson {{> course-titles type="lesson-number"}}
    </div>
    <h3 class="l-lesson-intro__heading v-hidex">
      {{> course-titles type="lesson"}}
    </h3>

  </aside>
</article>


{{> course-html-footer }}
